<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="../public/img/icons/icon-48x48.png" />



	<title>農務物聯網智慧系統</title>


	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<script src="/node_modules/bootstrap/dist/js/bootstrap.esm.js"></script>
	<link href="/node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
	<link href="/app.css" rel="stylesheet">
</head>


<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/userCall">
          			<span class="align-middle">農務物聯網智慧系統</span>
        		</a>

				<ul class="sidebar-nav">
					<li class="sidebar-header">使用者呼叫</li>

					<li class="sidebar-item active">
						<a class="sidebar-link" href="/userCall">
              				<i class="align-middle bi bi-bar-chart"></i> <span class="align-middle">使用者呼叫介面</span>
						</a>
					</li>
					<li class="sidebar-header">藥單功能</li>
					<li class="sidebar-item">
						<a class="sidebar-link" href="/prescriptions">
              				<i class="align-middle bi bi-camera-fill"></i> <span class="align-middle">藥單執行管理</span>
						</a>
					</li>									
				</ul>
			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
          			<i class="hamburger align-self-center"></i>
        		</a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">						
						<li class="nav-item dropdown"> 
							<a class="nav-link dropdown-toggle d-sm-inline-block" href="#" data-bs-toggle="dropdown" id="dropdown_user">
								<span class="text-dark"><%=user%></span>
							</a>
							<div class="dropdown-menu dropdown-menu-end" id="test" aria-labelledby="dropdown_user">
								<a class="dropdown-item" href="/logout">登出</a>
							</div>
						</li>
					</ul>		
				</div>
			</nav>

			<main class="content">				
				<div class="row">
					<div class="card flex-fill">
						<div class="card-header">
							<h5 class="card-title mb-0">使用者呼叫清單</h5>
						</div>
						<div class="row justify-content-between">
							<form action="/userCall" method="GET">
								<div class="input-group flex-group mb-3 w-75">
									<input type="text" id="search_bar" name="search" class="form-control">
									<input id="search_submit" type="submit" value="查詢" class="btn btn-insert btn-primary">
								</div>
							</form>
						</div>
						<div class="table-responsive">
							<table class="table table-hover my-0 text-center" data-toggle="table">
								<thead>
									<tr class="text-nowrap">
										<th class="d-xl-table-cell">使用者帳號</th>
										<th class="d-xl-table-cell">真實名稱</th>
										<th class="d-xl-table-cell text-center">設定</th>
									</tr>
								</thead>
								<tbody>
									<% for(let i=0;i<data.length;i++){%>
										<tr class="text-nowrap">
											<td class="username"><%=data[i].username%></td>
											<td class="name"><%=data[i].name%></td>											
											<td class="row"><a class="col btn btn-secondary btn-sm btn-space update bi bi-gear-fill" data-bs-toggle="modal" data-bs-target="#insert_prescriptions" insert_data_ObjId="<%=data[i]._id%>" insert_data_username="<%=data[i].username%>" insert_data_name="<%=data[i].name%>" insert_data_email="<%=data[i].email%>" insert_data_phone="<%=data[i].phone%>" insert_data_address="<%=data[i].address%>" ></a></td>
										</tr>
									<%}%>
								</tbody>
							</table>
						</div>
					</div>					
				</div>
			</main>
				
			<footer class="footer">
				<div class="container-fluid">
					<div class="text-center">
						<p class="mb-0">
							<a class="text-muted" target="_blank"><strong>農務物聯網智慧系統</strong></a> &copy;
						</p>
					</div>
				</div>
			</footer>


			<div class="modal fade" id="insert_prescriptions" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered modal-lg">

					<div class="modal-content">
						<div class="modal-header w-100">
							<div class="row m-0 w-100">
								<div class="col-md-12 mb-3 d-block d-flex justify-content-between">
									<h3 class="modal-title" id="exampleModalLabel">使用者呼叫處理</h3>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="col-md-12">
									<ul class="nav nav-tabs" id="myTab" role="tablist">
										<li class="nav-item" role="presentation">
											<a class="nav-link active" id="show-tab" data-bs-toggle="tab" data-bs-target="#tab-content-show" role="tab" aria-controls="tab-content-show" aria-selected="true">詳細資訊</a>
										</li>
										<li class="nav-item" role="presentation">
											<a class="nav-link" id="insert-tab" data-bs-toggle="tab" data-bs-target="#tab-content-insert" role="tab" aria-controls="tab-content-insert" aria-selected="false">藥單撰寫</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="modal-body">
							<div class="tab-content">
								<div id="tab-content-show" class="tab-pane fade show active" role="tabpanel" aria-labelledby="show-tab">
									<div class="form-group mb-2">
										<label>使用者帳號</label>
										<input id="dialog_username_show" type="text" class="form-control" readonly>
									</div>
									<div class="form-group mb-2">
										<label>真實名稱</label>							
										<input id="dialog_name_show" type="text" class="form-control" readonly>
									</div>
									<div class="form-group mb-2">
										<label>Email</label>							
										<input id="dialog_email_show" type="text" class="form-control" readonly>
									</div>
									<div class="form-group mb-2">
										<label>手機號碼</label>							
										<input id="dialog_phone_show" type="text" class="form-control" readonly>
									</div>
									<div class="form-group mb-2">
										<label>聯絡地址</label>							
										<input id="dialog_address_show" type="text" class="form-control" readonly>
									</div>

								</div>
								<div id="tab-content-insert" class="tab-pane fade" role="tabpanel" aria-labelledby="insert-tab">
									<div>
										<form id='insert_form'>
											<div class="form-group mb-2">
												<div class="mb-2">
													<label>藥單執行時間<small class="text-danger">*</small></label>
													<div class="dateline_t text-center">1個月</div>
													<input id="insert_dateline" type="range" class="form-range" min="1" max="12" step="1" value="1">
												</div>
												<div class="mb-2">
													<label>解決方法<small class="text-danger">*</small></label>
													<textarea id="insert_solution" type="text" class="form-control" placeholder="請填寫解決方法"></textarea>
												</div>
												<div class="mb-2">
													<label>建議<small class="text-danger">*</small></label>
													<textarea id="insert_recommendation" type="text" class="form-control" placeholder="請填寫建議"></textarea>
												</div>
												<div class="mb-2">
													<label>幾天執行1次辨識功能<small class="text-danger">*</small></label>
													<div class="due_t text-center">1天</div>
													<input id="insert_due" type="range" class="form-range" min="1" max="30" step="1" value="1">
												</div>										
											</div>
											
										</form>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="insert_close">取消</button>
										<button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="insert_submit">提交</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
		
			<div class="modal fade" id="AlertMsg" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="exampleModalLabel">訊息通知</h5>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p id="Alert_msg"></p>
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="isAuthenticated_close">確定</button>
					</div>
				  </div>
				</div>
			</div>
		</div>
	</div>	
	<script src="/app.js"></script>
	<script src="/plantDoctor-userCall.js"></script>
</body>

</html>